.mui-content {
  height: 100%;
  width: 100%;
}
.consultContent {
  width: 100%;
}
.consultContent .consultPara {
  text-indent: 2em;
  padding: 10px 15px;
  border-bottom: 1px solid #cdcdcd;
  color: #333;
}
.consultContent .bottomPara {
  padding: 10px;
  position: relative;
  height: 40px;
  font-size: 12px;
}
.consultContent .bottomPara .leftPara {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #676767;
}
.consultContent .bottomPara .rightPara {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #676767;
}
.topInfo {
  width: 100%;
  padding: 12px 0;
  line-height: 40px;
  position: relative;
}
.topInfo .topInfoTitle {
  padding: 0 10px;
  color: #333333;
  background-color: #fff;
}
.topInfo .plusBox {
  position: absolute;
  right: 0;
  top: 12px;
  text-align: center;
  width: 40px;
}
.topInfo .plusBox .plusBtn {
  color: #a5a5a5;
  font-size: 20px;
}
.addInfo {
  background-color: #fff;
  width: 100%;
}
.addInfo .addInfoContent {
  padding: 0 10px;
  position: relative;
}
.addInfo .addInfoContent .enterTitle {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #232323;
  position: relative;
}
.addInfo .addInfoContent .enterTitle .paraInside {
  display: inline-block;
  padding-left: 20px;
  color: #676767;
  font-size: 14px;
}
.addInfo .addInfoContent .plusBox {
  position: absolute;
  right: 0;
  top: 12px;
  text-align: center;
  width: 40px;
}
.addInfo .addInfoContent .plusBox .plusBtn {
  color: #a5a5a5;
  font-size: 20px;
}
.addInfo .textBox {
  border-top: 1px solid #c8c7cc;
  width: 100%;
  position: relative;
}
.addInfo .textBox .enterText {
  border: none!important;
  padding: 10px;
  height: 100px;
  margin: 0;
}
.addInfo .textBox .camera {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #a5a5a5;
  font-size: 20px;
}
.addInfo .textBox .infoLine {
  width: 100%;
  padding: 5px 10px;
}
.addInfo .textBox .infoLine .leftItem {
  display: inline-block;
  width: 25%;
  color: #232323;
  font-size: 14px;
  padding: 5px 0;
  vertical-align: top;
}
.addInfo .textBox .infoLine .rightItem {
  display: inline-block;
  width: 70%;
  color: #676767;
  font-size: 14px;
  border-bottom: 1px solid #c8c7cc;
  padding: 5px 0;
}
.addInfo .textBox .infoLine:last-child .rightItem {
  border-bottom: none;
}
.checkBox {
  margin: 5px 0;
}
.checkBox .checkContent {
  width: 100%;
  padding: 10px;
  font-size: 0;
  -webkit-text-size-adjust: none;
}
.checkBox .checkContent label {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  color: #000;
}
.bottomBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
}
.bottomBtn .submitBtn {
  font-size: 16px;
  width: 100%;
  display: block;
  height: 35px;
  line-height: 35px;
  margin: 10px 0px;
  border-radius: 20px;
  text-align: center;
  color: #126e2b;
  border: 1px solid #126e2b;
}
.bottomBtn .submitBtn1 {
  color: #818181;
  border: none;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.bottomBtn .continue {
  background-color: #136f2e;
  color: #fff;
}
.bottomBtn1 {
  border-top: 1px solid #eee;
  background-color: #fff;
  padding: 0;
}
