.mui-content {
  height: 100%;
  width: 100%;
  position: relative;
}
.addInfo {
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
.addInfoContent {
  padding: 0 10px;
  position: relative;
}
.enterTitle {
  text-align: center;
  position: absolute;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #232323;
  float: left;
}
.enterBox {
  width: 100%;
  padding-left: 50px;
}
.enterTxt {
  border: none!important;
}
.bottomBtn {
  height: 65px;
  width: 100%;
  padding: 15px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bottomBtn .submitBtn {
  width: 100%;
  display: block;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  color: #126e2b;
  border: 1px solid #126e2b;
}
